<div class="h-full flex flex-col md:flex-row justify-center items-center">

  <div class="md:w-1/2">
    <h1 class="text-3xl font-bold underline">
      Welcome to the Technical Assessment!
    </h1>
    <p>Please login to get the appropriate access...</p>
    <p>Please login to get the appropriate access...</p>
    <p>Please login to get the appropriate access...</p>
    <p>Please login to get the appropriate access...</p>
    <p>Please login to get the appropriate access...</p>
    <p>Please login to get the appropriate access...</p>
    <p>Please login to get the appropriate access...</p>
    <p>Please login to get the appropriate access...</p>
        <h1 class="text-3xl font-bold underline">
      Welcome to the Technical Assessment!
    </h1>
  </div>


  <form class="login-form md:w-1/2 flex flex-col items-center"
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">

          <input type="text" nz-input formControlName="username" placeholder="Username" />

        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">

          <input type="password" nz-input formControlName="password" placeholder="Password" />

        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
  </form>

</div>